$color-primary: #4a90e2;
$color-primaryDark: #00408b;
$color-primary-bkLight: #f2f2f2;
$color-primary-bk: #e1e1e1;
$color-primary-bkDark: #c8c8c8;
$color-primary-bkDarkMore: #757575;

$color-cancel: #d0021b;
$color-star: #f5a623;
$color-important: #fff2dc;


$color-black: #000;
$color-white: #fff;