html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 62.5%; }

.nav {
  background: #4a90e2;
  font-size: 0;
  text-align: center; }
  .nav__option:link, .nav__option:visited {
    position: relative;
    width: 21%;
    display: inline-block;
    text-decoration: none;
    color: #00408b;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 2.4rem 0;
    transition: all .3s linear; }
  .nav__option--choose:link, .nav__option--choose:visited {
    color: #fff; }
  .nav__option:hover {
    color: #fff; }
  .nav__option__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    padding: .3rem 0;
    background: #00408b;
    visibility: hidden;
    transition: all .3s; }
  .nav__option--choose > .nav__option__line {
    visibility: visible; }
